In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import category_encoders as ce
from sklearn.preprocessing import LabelBinarizer, StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# train = pd.read_csv('./data/rawdata/application_train.csv.zip',compression='zip')
# test = pd.read_csv('./data/rawdata/application_test.csv.zip',compression='zip')

pre = pd.read_csv('./data/rawdata/previous_application.csv.zip',compression='zip')
bureau = pd.read_csv('./data/rawdata/bureau.csv.zip',compression='zip')
credit = pd.read_csv('./data/rawdata/credit_card_balance.csv.zip',compression='zip')

bureau.csv

All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).

For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.

In [8]:
# train (307511, 122)
# test (48744, 121)
bureau.shape
bureau.head(20)

(1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.00,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.00,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.00,71017.38,108982.62,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.0,0,42103.80,42103.80,0.00,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.00,0.00,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.0,0,103007.70,0.00,0.00,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.0,0,4500.00,0.00,0.00,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.0,0,337500.00,0.00,0.00,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.00,0.00,0.00,0.0,Consumer credit,-706,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.0,0,7033500.00,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.0,0,89910.00,76905.00,0.00,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.00,0.00,0.00,0.0,Credit card,-185,NaN
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.00,NaN,NaN,0.0,Consumer credit,-2601,NaN
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.00,NaN,NaN,0.0,Consumer credit,-984,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.00,520920.00,NaN,0.0,Consumer credit,-4,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.00,8131.50,NaN,0.0,Credit card,-7,NaN
19,238881,5714488,Closed,currency 1,-444,0,-77.0,-77.0,0.0,0,107184.06,0.00,0.00,0.0,Consumer credit,-71,NaN

In [9]:
bureau[['AMT_CREDIT_MAX_OVERDUE','CNT_CREDIT_PROLONG','AMT_CREDIT_SUM','AMT_CREDIT_SUM_DEBT','AMT_CREDIT_SUM_LIMIT']].groupby(bureau.SK_ID_CURR).sum()

,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT
SK_ID_CURR,,,,,
100001,NaN,0,1453365.000,596686.500,0.000
100002,8405.145,0,865055.565,245781.000,31988.565
100003,0.000,0,1017400.500,0.000,810000.000
100004,0.000,0,189037.800,0.000,0.000
100005,0.000,0,657126.000,568408.500,0.000
100007,0.000,0,146250.000,0.000,0.000
100008,0.000,0,468445.500,240057.000,0.000
100009,0.000,0,4800811.500,1077349.500,0.000
100010,NaN,0,990000.000,348007.500,0.000
100011,10147.230,0,435228.300,0.000,0.000
100013,19305.000,0,2072280.060,0.000,NaN
100014,22358.115,0,2729932.425,758214.000,0.000
100015,NaN,0,409495.500,0.000,0.000
100016,0.000,0,474984.000,63724.500,0.000
100017,0.000,0,859770.000,0.000,0.000
100019,0.000,0,720000.000,245470.140,270000.000
100020,0.000,0,199485.000,123088.500,0.000
100022,0.000,0,1057500.000,205276.500,0.000
100023,8162.550,0,1645692.345,137038.500,0.000
100025,NaN,0,2452500.000,1886544.000,0.000
100026,0.000,0,5625000.000,3477814.380,0.000
100027,5130.000,0,625297.500,376713.000,0.000
100028,0.000,0,1520875.080,186304.500,101390.760
100029,NaN,0,7428033.000,3682287.000,0.000
100030,0.000,0,643430.970,451642.500,25656.030
100031,NaN,0,3970651.500,1125000.000,NaN
100032,0.000,0,1271160.000,0.000,0.000
100033,NaN,0,675000.000,0.000,0.000
100035,55040.265,0,3545085.420,2054371.500,0.000
100036,NaN,0,94959.000,8339.355,NaN
...,...,...,...,...,...
456220,0.000,2,830340.000,470140.065,172653.435
456221,22855.500,0,1118799.000,556470.000,0.000
456223,0.000,0,2156309.460,21343.500,29202.750
456224,7462.440,0,3848684.310,787678.560,0.000
456225,NaN,0,3714192.000,2797449.840,70934.760
456226,NaN,0,450000.000,51012.000,0.000
456227,4680.000,0,797242.500,156951.000,0.000
456229,11353.500,1,258750.000,NaN,NaN
456230,0.000,0,1396642.500,278523.000,0.000
456231,NaN,0,3313435.500,563112.000,0.000
456232,NaN,0,801000.000,517342.500,0.000
456233,0.000,0,282663.315,223943.895,0.000
456234,62184.735,0,1393959.600,17164.215,385.785
456235,0.000,0,1479150.000,1160037.000,0.000
456236,30861.000,0,8306682.750,3094557.750,0.000
456237,NaN,0,98145.000,0.000,0.000
456238,12766.950,0,1109502.000,625351.500,0.000
456239,0.000,0,6262312.500,1904764.500,0.000
456240,7992.000,0,132399.000,39872.250,50127.750
456241,NaN,0,1215000.000,0.000,0.000
456242,NaN,0,198000.000,186097.500,0.000
456243,0.000,0,1787773.500,1247454.000,0.000
456244,53216.730,0,7509015.495,611645.355,534.645
456246,NaN,0,382500.000,0.000,0.000
456247,47461.410,1,5185462.500,2193390.000,0.000
456249,30735.000,0,3693858.660,163071.000,0.000
456250,0.000,0,3086459.550,2232040.095,58268.385
456253,NaN,0,3960000.000,1795833.000,0.000
456254,NaN,0,45000.000,0.000,NaN
456255,60282.405,1,3801919.500,1534913.010,0.000