previous_application.csv

All previous applications for Home Credit loans of clients who have loans in our sample.
There is one row for each previous application related to loans in our data sample.

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import category_encoders as ce
from sklearn.preprocessing import LabelBinarizer, StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [78]:
prev = pd.read_csv('./data/rawdata/previous_application.csv.zip',compression='zip')

prev = prev.sort_values(['SK_ID_CURR','SK_ID_PREV'], ascending = [True,False])

prev['cnt'] = 1

In [79]:
prev.shape
prev.columns
prev.head(50)

(1670214, 38)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL',
       'cnt'],
      dtype='object')

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,cnt
201668,1369693,100001,Consumer loans,3951.000,24835.50,23787.0,2520.00,24835.50,FRIDAY,13,...,8.0,high,POS mobile with interest,365243.0,-1709.0,-1499.0,-1619.0,-1612.0,0.0,1
892077,1038818,100002,Consumer loans,9251.775,179055.00,179055.0,0.00,179055.00,SATURDAY,9,...,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0,1
1021650,2636178,100003,Consumer loans,64567.665,337500.00,348637.5,0.00,337500.00,SUNDAY,17,...,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0,1
1223745,2396755,100003,Consumer loans,6737.310,68809.50,68053.5,6885.00,68809.50,SATURDAY,15,...,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0,1
575941,1810518,100003,Cash loans,98356.995,900000.00,1035882.0,NaN,900000.00,FRIDAY,12,...,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0,1
935548,1564014,100004,Consumer loans,5357.250,24282.00,20106.0,4860.00,24282.00,FRIDAY,5,...,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0,1
1378978,2495675,100005,Consumer loans,4813.200,44617.50,40153.5,4464.00,44617.50,THURSDAY,11,...,12.0,high,POS mobile with interest,365243.0,-706.0,-376.0,-466.0,-460.0,0.0,1
1259112,1857999,100005,Cash loans,NaN,0.00,0.0,NaN,NaN,FRIDAY,10,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,1
617859,2827850,100006,Revolving loans,NaN,0.00,0.0,NaN,NaN,THURSDAY,15,...,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN,1
1595430,2545789,100006,Cash loans,NaN,0.00,0.0,NaN,NaN,THURSDAY,15,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,1
1333657,2299329,100006,Consumer loans,2482.920,26912.34,24219.0,2693.34,26912.34,TUESDAY,15,...,12.0,middle,POS industry with interest,365243.0,-545.0,-215.0,-425.0,-416.0,0.0,1
830967,2190416,100006,Consumer loans,29027.520,334917.00,267930.0,66987.00,334917.00,SUNDAY,15,...,12.0,high,POS household with interest,365243.0,-281.0,49.0,365243.0,365243.0,0.0,1
98162,2078043,100006,Cash loans,24246.000,675000.00,675000.0,NaN,675000.00,THURSDAY,15,...,48.0,low_normal,Cash X-Sell: low,365243.0,-151.0,1259.0,-151.0,-143.0,0.0,1
1607443,1697039,100006,Cash loans,32696.100,688500.00,906615.0,NaN,688500.00,THURSDAY,15,...,48.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN,1
900957,1489396,100006,Revolving loans,13500.000,270000.00,270000.0,NaN,270000.00,THURSDAY,15,...,0.0,XNA,Card X-Sell,365243.0,365243.0,365243.0,365243.0,365243.0,0.0,1
1232752,1243599,100006,Cash loans,NaN,0.00,0.0,NaN,NaN,THURSDAY,15,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,1
1131133,1020698,100006,Cash loans,39954.510,454500.00,481495.5,NaN,454500.00,SATURDAY,12,...,18.0,high,Cash X-Sell: high,NaN,NaN,NaN,NaN,NaN,NaN,1
87569,2730157,100007,Cash loans,13010.985,225000.00,284400.0,NaN,225000.00,FRIDAY,13,...,48.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN,1
1260339,2462742,100007,Consumer loans,3601.530,31005.00,30663.0,3105.00,31005.00,SUNDAY,15,...,12.0,high,POS mobile with interest,365243.0,-1736.0,-1406.0,-1406.0,-1397.0,0.0,1
1061094,2119973,100007,Consumer loans,1834.290,17176.50,14616.0,3676.50,17176.50,SATURDAY,13,...,10.0,high,POS household with interest,365243.0,-2326.0,-2056.0,-2056.0,-2041.0,1.0,1
13392,2001242,100007,Cash loans,16509.600,180000.00,180000.0,NaN,180000.00,SUNDAY,14,...,18.0,high,Cash Street: high,365243.0,-834.0,-324.0,-354.0,-347.0,0.0,1
1483068,1940724,100007,Cash loans,22678.785,202500.00,215865.0,NaN,202500.00,THURSDAY,8,...,12.0,middle,Cash X-Sell: middle,365243.0,-1076.0,-746.0,-746.0,-739.0,1.0,1
693308,1692033,100007,Cash loans,16037.640,247500.00,274288.5,NaN,247500.00,MONDAY,11,...,24.0,middle,Cash X-Sell: middle,365243.0,-344.0,346.0,365243.0,365243.0,1.0,1
800095,2613879,100008,Cash loans,25309.575,450000.00,501975.0,NaN,450000.00,MONDAY,10,...,30.0,middle,Cash X-Sell: middle,365243.0,-609.0,261.0,-399.0,-388.0,1.0,1
320227,2218188,100008,Consumer loans,17885.835,162598.50,162598.5,0.00,162598.50,THURSDAY,10,...,10.0,low_normal,POS household with interest,365243.0,-339.0,-69.0,-69.0,-66.0,0.0,1
906992,1907290,100008,Consumer loans,12144.285,121455.00,109309.5,12145.50,121455.00,MONDAY,9,...,10.0,low_normal,POS household with interest,365243.0,-2299.0,-2029.0,-2029.0,-703.0,0.0,1
600145,1757431,100008,Cash loans,NaN,0.00,0.0,NaN,NaN,FRIDAY,18,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,1
604799,1186888,100008,Consumer loans,8019.090,44455.50,39955.5,4500.00,44455.50,MONDAY,13,...,6.0,low_normal,POS mobile with interest,365243.0,-2491.0,-2341.0,-2341.0,-2334.0,0.0,1
1286497,2797899,100009,Consumer loans,10418.670,95841.00,88632.0,14377.50,95841.00,WEDNESDAY,17,...,10.0,middle,POS household with interest,365243.0,-43.0,227.0,365243.0,365243.0,0.0,1
946687,2421381,100009,Consumer loans,7435.845,47160.00,39721.5,9432.00,47160.00,SUNDAY,11,...,6.0,middle,POS household with interest,365243.0,-795.0,-645.0,-645.0,-636.0,0.0,1
799475,2227125,100009,Consumer loans,8821.260,46876.50,44694.0,4689.00,46876.50,WEDNESDAY,13,...,6.0,high,POS mobile with interest,365243.0,-274.0,-124.0,-124.0,-119.0,0.0,1
1276830,2007057,100009,Consumer loans,7500.735,40455.00,38574.0,4045.50,40455.00,SUNDAY,11,...,6.0,high,POS household with interest,365243.0,-277.0,-127.0,-127.0,-119.0,0.0,1
8567,1413109,100009,Consumer loans,8996.760,98239.50,98239.5,0.00,98239.50,SATURDAY,18,...,12.0,low_action,POS household without interest,365243.0,-418.0,-88.0,-88.0,-84.0,0.0,1
1421626,1193310,100009,Consumer loans,17341.605,110160.00,92488.5,22032.00,110160.00,MONDAY,15,...,6.0,middle,POS household with interest,365243.0,-1480.0,-1330.0,-1330.0,-1323.0,0.0,1
1515126,1112703,100009,Consumer loans,9845.010,98460.00,88614.0,9846.00,98460.00,SATURDAY,11,...,10.0,low_normal,POS household with interest,365243.0,-1531.0,-1261.0,-1261.0,-1252.0,0.0,1
1488003,2349489,100010,Consumer loans,27463.410,247212.00,260811.0,0.00,247212.00,TUESDAY,16,...,10.0,low_action,POS industry without interest,365243.0,-1039.0,-769.0,-769.0,-762.0,0.0,1
1100110,2794143,100011,Cash loans,31295.250,675000.00,732915.0,0.00,675000.00,THURSDAY,11,...,30.0,low_action,Cash Street: low,365243.0,-1159.0,-289.0,-289.0,-283.0,1.0,1
268783,2668005,100011,Cash loans,NaN,0.00,0.0,NaN,0.00,WEDNESDAY,9,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,1
1033001,1843384,100011,Revolving loans,9000.000,0.00,180000.0,NaN,NaN,SATURDAY,10,...,0.0,XNA,Card X-Sell,-2277.0,-2229.0,365243.0,-1257.0,365243.0,0.0,1
515622,1430602,100011,Consumer loans,14614.335,135931.50,134446.5,13594.50,135931.50,MONDAY,17,...,12.0,high,POS household with interest,365243.0,-2477.0,-2147.0,-2147.0,-1186.0,1.0,1
918172,2480304,100012,Cash loans,9482.355,90000.00,114273.0,NaN,90000.00,MONDAY,15,...,18.0,high,Cash X-Sell: high,365243.0,-477.0,33.0,-147.0,-144.0,1.0,1
41180,2243829,100012,Consumer loans,3012.075,18720.00,23697.0,0.00,18720.00,THURSDAY,9,...,12.0,high,POS mobile with interest,365243.0,-1641.0,-1311.0,-1401.0,-1397.0,0.0,1
704464,2164190,100012,Cash loans,11188.035,135000.00,158508.0,NaN,135000.00,FRIDAY,13,...,24.0,high,Cash X-Sell: high,365243.0,-802.0,-112.0,-142.0,-137.0,1.0,1
1600743,2020951,100012,Cash loans,NaN,0.00,0.0,NaN,NaN,TUESDAY,13,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,1
77167,1865796,100013,Consumer loans,6538.185,51030.00,47934.0,6750.00,51030.00,THURSDAY,12,...,10.0,high,POS mobile with interest,365243.0,-1949.0,-1679.0,-1709.0,-1702.0,0.0,1
386271,1594297,100013,Cash loans,23153.985,450000.00,512370.0,NaN,450000.00,SATURDAY,12,...,36.0,middle,Cash X-Sell: middle,365243.0,-826.0,224.0,-346.0,-344.0,1.0,1
338056,1222069,100013,Cash loans,NaN,0.00,0.0,NaN,NaN,WEDNESDAY,16,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,1
826301,1108870,100013,Consumer loans,4742.415,22455.00,24232.5,0.00,22455.00,MONDAY,18,...,6.0,middle,POS household with interest,365243.0,-242.0,-92.0,-92.0,-85.0,0.0,1
1208790,2006578,100014,Consumer loans,14045.625,73800.00,73800.0,0.00,73800.00,TUESDAY,14,...,6.0,middle,POS other with interest,365243.0,-64.0,86.0,365243.0,365243.0,0.0,1
1345940,1461079,100014,Consumer loans,11567.475,119272.50,131868.0,0.00,119272.50,TUESDAY,13,...,12.0,low_action,POS household without interest,365243.0,-813.0,-483.0,-483.0,-475.0,0.0,1

In [53]:

prev_features = pd.concat([
    prev.SK_ID_PREV.groupby(prev.SK_ID_CURR).agg('count'),
    prev.NAME_CONTRACT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_CONTRACT_TYPE.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_CONTRACT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.AMT_ANNUITY.groupby(prev.SK_ID_CURR).agg(['sum','mean','max','min']),
    prev.AMT_APPLICATION.groupby(prev.SK_ID_CURR).agg(['sum','mean','max','min']),
    prev.AMT_CREDIT.groupby(prev.SK_ID_CURR).agg(['sum','mean','max','min']),
    prev.AMT_DOWN_PAYMENT.groupby(prev.SK_ID_CURR).agg(['sum','mean','max','min']),
    
    prev.AMT_DOWN_PAYMENT.groupby(prev.SK_ID_CURR).agg(lambda x: sum(x>0)),
    prev.AMT_GOODS_PRICE.groupby(prev.SK_ID_CURR).agg(['sum','mean','max','min']),
    
    prev.WEEKDAY_APPR_PROCESS_START.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.WEEKDAY_APPR_PROCESS_START.groupby(prev.SK_ID_CURR).nunique(),
    prev.WEEKDAY_APPR_PROCESS_START.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.HOUR_APPR_PROCESS_START.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.HOUR_APPR_PROCESS_START.groupby(prev.SK_ID_CURR).nunique(),
    prev.HOUR_APPR_PROCESS_START.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev.HOUR_APPR_PROCESS_START.groupby(prev.SK_ID_CURR).agg('median'),
    
    prev.FLAG_LAST_APPL_PER_CONTRACT.groupby(prev.SK_ID_CURR).agg('min'),
    prev.NFLAG_LAST_APPL_IN_DAY.groupby(prev.SK_ID_CURR).agg('min'),
    
    prev.RATE_DOWN_PAYMENT.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.RATE_DOWN_PAYMENT.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev.RATE_INTEREST_PRIMARY.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.RATE_INTEREST_PRIMARY.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev.RATE_INTEREST_PRIVILEGED.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.RATE_INTEREST_PRIVILEGED.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.NAME_CASH_LOAN_PURPOSE.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_CASH_LOAN_PURPOSE.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_CASH_LOAN_PURPOSE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.NAME_CONTRACT_STATUS.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_CONTRACT_STATUS.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_CONTRACT_STATUS.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_CONTRACT_STATUS','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_CONTRACT_STATUS',values='cnt',aggfunc='count')
    
    prev.DAYS_DECISION.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.DAYS_DECISION.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.NAME_PAYMENT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_PAYMENT_TYPE.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_PAYMENT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_PAYMENT_TYPE','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_PAYMENT_TYPE',values='cnt',aggfunc='count')
    
    prev.CODE_REJECT_REASON.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.CODE_REJECT_REASON.groupby(prev.SK_ID_CURR).nunique(),
    prev.CODE_REJECT_REASON.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['CODE_REJECT_REASON','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='CODE_REJECT_REASON',values='cnt',aggfunc='count')
    
    prev.NAME_TYPE_SUITE.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_TYPE_SUITE.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_TYPE_SUITE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_TYPE_SUITE','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_TYPE_SUITE',values='cnt',aggfunc='count')
    
    prev.NAME_CLIENT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_CLIENT_TYPE.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_CLIENT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_CLIENT_TYPE','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_CLIENT_TYPE',values='cnt',aggfunc='count')
    
    prev.NAME_GOODS_CATEGORY.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_GOODS_CATEGORY.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_GOODS_CATEGORY.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.NAME_PORTFOLIO.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_PORTFOLIO.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_PORTFOLIO.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_PORTFOLIO','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_PORTFOLIO',values='cnt',aggfunc='count')
    
    prev.NAME_PRODUCT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_PRODUCT_TYPE.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_PRODUCT_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_PRODUCT_TYPE','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_PRODUCT_TYPE',values='cnt',aggfunc='count')
    
    prev.CHANNEL_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.CHANNEL_TYPE.groupby(prev.SK_ID_CURR).nunique(),
    prev.CHANNEL_TYPE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['CHANNEL_TYPE','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='CHANNEL_TYPE',values='cnt',aggfunc='count')
    
    prev.SELLERPLACE_AREA.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.SELLERPLACE_AREA.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.NAME_SELLER_INDUSTRY.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_SELLER_INDUSTRY.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_SELLER_INDUSTRY.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_SELLER_INDUSTRY','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_SELLER_INDUSTRY',values='cnt',aggfunc='count')
    
    prev.CNT_PAYMENT.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.CNT_PAYMENT.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.NAME_YIELD_GROUP.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.NAME_YIELD_GROUP.groupby(prev.SK_ID_CURR).nunique(),
    prev.NAME_YIELD_GROUP.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['NAME_YIELD_GROUP','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_YIELD_GROUP',values='cnt',aggfunc='count')
    
    prev.PRODUCT_COMBINATION.groupby(prev.SK_ID_CURR).agg(lambda x: ','.join(set(x))),
    prev.PRODUCT_COMBINATION.groupby(prev.SK_ID_CURR).nunique(),
    prev.PRODUCT_COMBINATION.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    prev[['PRODUCT_COMBINATION','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='PRODUCT_COMBINATION',values='cnt',aggfunc='count')
    
    prev.DAYS_FIRST_DRAWING.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.DAYS_FIRST_DRAWING.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.DAYS_FIRST_DUE.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.DAYS_FIRST_DUE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.DAYS_LAST_DUE_1ST_VERSION.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.DAYS_LAST_DUE_1ST_VERSION.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.DAYS_LAST_DUE.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.DAYS_LAST_DUE.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.DAYS_TERMINATION.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']),
    prev.DAYS_TERMINATION.groupby(prev.SK_ID_CURR).agg(lambda x: list(x)[0]),
    
    prev.NFLAG_INSURED_ON_APPROVAL.groupby(prev.SK_ID_CURR).agg('min'),

    
], axis = 1)

 365243.0    934444
NaN          673065
-228.0          123
-212.0          121
-224.0          121
-223.0          119
-220.0          118
-210.0          117
-235.0          117
-240.0          116
-227.0          115
-226.0          115
-244.0          114
-217.0          112
-239.0          111
-255.0          110
-249.0          109
-197.0          109
-196.0          108
-263.0          108
-237.0          108
-202.0          108
-241.0          108
-266.0          107
-238.0          107
-252.0          106
-256.0          106
-259.0          106
-215.0          106
-230.0          106
              ...
-1865.0           1
-1866.0           1
-1867.0           1
-1577.0           1
-1664.0           1
-1839.0           1
-1834.0           1
-1775.0           1
-1609.0           1
-1840.0           1
-1779.0           1
-1781.0           1
-1783.0           1
-1786.0           1
-1787.0           1
-1611.0           1
-1791.0           1
-1797.0           1
-1607.0           1
-1832.0           1
-1805.0           1
-1605.0           1
-1601.0           1
-1812.0           1
-1600.0           1
-1599.0           1
-1819.0           1
-1823.0           1
-1825.0           1
-1911.0           1
Name: DAYS_FIRST_DRAWING, Length: 2839, dtype: int64

In [107]:
# prev[['SK_ID_PREV','SK_ID_CURR','NAME_CONTRACT_TYPE','FLAG_LAST_APPL_PER_CONTRACT','NAME_CONTRACT_STATUS','CODE_REJECT_REASON','NAME_TYPE_SUITE']].head(50)

# prev.PRODUCT_COMBINATION.value_counts()
# prev.RATE_DOWN_PAYMENT.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median'])
# prev[['NAME_PRODUCT_TYPE','SK_ID_CURR','cnt']].pivot_table(index = 'SK_ID_CURR',columns='NAME_PRODUCT_TYPE',values='cnt',aggfunc='count')
# prev.DAYS_FIRST_DUE.groupby(prev.SK_ID_CURR).agg(['mean','max','min','median']).astype(%.2f)

SyntaxError: invalid syntax (<ipython-input-107-077c5728a393>, line 6)

In [106]:
prev.DAYS_FIRST_DUE.astype(str)

201668      -1709.0
892077       -565.0
1021650      -797.0
1223745     -2310.0
575941       -716.0
935548       -784.0
1378978      -706.0
1259112         nan
617859          nan
1595430         nan
1333657      -545.0
830967       -281.0
98162        -151.0
1607443         nan
900957     365243.0
1232752         nan
1131133         nan
87569           nan
1260339     -1736.0
1061094     -2326.0
13392        -834.0
1483068     -1076.0
693308       -344.0
800095       -609.0
320227       -339.0
906992      -2299.0
600145          nan
604799      -2491.0
1286497       -43.0
946687       -795.0
             ...
120009       -419.0
1003590     -2842.0
1387092    365243.0
345758      -1092.0
1168620     -2649.0
1239697      -710.0
234061          nan
478898      -1495.0
1440475         nan
1345759         nan
791939      -1038.0
490103       -327.0
1467403      -707.0
553648          nan
1094543         nan
935792       -276.0
292302       -210.0
444497      -2466.0
181558      -1866.0
1246881     -2812.0
7315         -247.0
455446       -291.0
1411592      -469.0
1383554      -756.0
608510       -618.0
214743       -960.0
729432          nan
453227       -425.0
814647          nan
596623       -662.0
Name: DAYS_FIRST_DUE, Length: 1670214, dtype: object